body {
	background-color: #D4CC87;
}
.form1 {
	padding: 10px;
	padding-top: 30px;
	color: #CD5C5C;
	font-size: 15px;
}
.demo1 {
	position: relative;
	height: 900px;
	width: 300px;
	display: inline-block;
}
.demo2 {
	position: absolute;
	height: 800px;
	width: 700px;
	padding: 20px;
	display: inline;
}
.demo3 {
	position: relative;
	display: inline-block;
	padding-right: 80px;
	float: right;
	height: 880px;
}
#cart {
	font-family: "Verdana Italic";
	font-size: 20px;
	color:"black";
}
#gift1 {
	width: 300px;
	height: 200px;
}
#text1 {
	bottom: 2px;
	position: absolute;
	display: inline-block;
}
.intro {
	bottom: 2px;
	position: absolute;
}
.gift {
	padding: 10px;
	height: 180px;
	width: 200px;
}
.gift1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	padding: 10px;
}
.luck1 {
	font-family: "Garamond", Times, serif;
	font-size: 20px;
}
.pic {
	height: 200px;
	width: 230px;
	border-radius: 50%;
	background-position: 50%;
}